body {
  background: #f2f2f2;
  font-family: Arial;
}

.login-box {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  text-align: center;
  border-radius: 8px;
}

input {
  width: 90%;
  margin: 10px 0;
  padding: 8px;
}

button {
  width: 95%;
  padding: 8px;
  background: blue;
  color: white;
  border: none;
}
